<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <center>
            <canvas id="canvas" width="500" height="500" style="border:1px solid black"></canvas>

            <form action="{{ url_for('index') }}" method="post">
                <p></p>
                <label for="options">Choose a Computational Geometry Function: </label>
                <select name="options" id="options">
                    <option></option>
                    <option value="op1">Line Segment Intersection</option>
                    <option value="op2">Closest Pair of Points</option>
                    <option value="op3">Convex Hull</option>
                    <option value="op4">Largest Empty Circle</option>
                </select>
                <br>
                <p></p>
                <label for="units">Enter Number of Points or Lines: </label>
                <input type="number" id="units", name="units" min="3">
                <br>
                <p></p>
                <label for="command">Enter a command: </label>
                <input type="text" id="command" name="command">
                <input type="submit" name="submit" id="submit" value="Submit">
            </form>
            <h5>{{ msg }}</h5>
        </center>

        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script type="text/javascript">
            // Collect data passed from render_template
            var points = func({{ point_data|tojson }});
            var lines = func({{ line_data|tojson }});
            var circles = func({{ circle_data|tojson }});
            console.log(points);
            console.log(lines);
            console.log(circles);

            // Display 2d plane with given data
            draw_canvas(points, lines, circles);
        </script>
    </body>
</html>